.features {
  /* background: #ffffff; */
  background: #111827;
  background: #f9fafb;
  padding: 3rem 1.5rem;
}

.wrapper {
  display: grid;
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: #f9fafb;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }

  p {
    margin-top: 0.8rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: #333;
  }
}

.icon {
  font-size: 1.8rem;
}